.items{
    background-color: #00000033;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.item_wiev{
    background-color: #fff;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item_title{
    padding-top: 10px;
}

.item_body{
    padding-top: 10px;
}
